{% extends 'DaiPublicBundle::layout.html.twig' %}

{% block content %}

    <div class="carousel" data-carousel>
        <div class="arrow prev" data-carousel-prev></div>
        <div class="arrow next chevron-right" data-carousel-next></div>
        {% for work in works %}
            <img class="carousel__item" data-carousel-item src="{{ work.image ? asset(work.image.uploadDir ~ '/' ~ work.image.id ~ '.' ~ work.image.url) }}" alt="{{ work.image ? work.image.alt }}"/>
        {% endfor %}
        <div class="close-btn" data-carousel-close></div>
    </div>

    <section class="container-fluid site-content">
        <div data-page data-page-portfolio class="animated fadeIn">
            <div
                id="isotope"
                class="isotope"
                data-feed
                data-url="{{ path ('dai_public_index') }}"
            >
                {% for work in works %}
                    {% if work.published %}
                        <article
                            data-item
                            data-title="{{ work.title }}"
                            data-category="{{ work.category ? work.category.name }}"
                            data-reference="{{ work.description }}"
                            class="isotope__item">
                            <div class="isotope__item__available {{ work.available ? 'available' : 'unavailable' }} ">
                                {{ work.available ? 'disponible' : 'non disponible' }}
                            </div>
                            <div class="isotope__item__size">
                                {{ work.width }}/{{ work.height }}cm
                            </div>
                            <img data-carousel-item src="{{ work.image ? asset(work.image.uploadDir ~ '/' ~ work.image.id ~ '.' ~ work.image.url) }}" alt="{{ work.image ? work.image.alt }}"/>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>


            <ul class="pagination">
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('dai_public_index', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </section>

{% endblock %}
