{% extends 'DaiPublicBundle::layout.html.twig' %}

{% block content %}

    <div class="carousel" data-carousel>
        <div class="arrow prev" data-carousel-prev></div>
        <div class="arrow next chevron-right" data-carousel-next></div>
        {% for work in works %}
            <img class="carousel__item" data-carousel-item src="{{ work.image ? asset(work.image.uploadDir ~ '/' ~ work.image.id ~ '.' ~ work.image.url) }}" alt="{{ work.image ? work.image.alt }}"/>
        {% endfor %}
        <div class="close" data-carousel-close></div>
    </div>

    <section class="container-fluid site-content">
        <div data-page data-page-portfolio class="animated fadeIn">
            <div
                id="isotope"
                class="isotope"
                data-feed
                data-url="{{ path ('dai_public_index') }}"
            >
                {% for work in works %}
                    <article
                        data-item
                        data-title="{{ work.title }}"
                        data-category="{{ work.category ? work.category.name }}"
                        data-reference="{{ work.description }}"
                        class="isotope__item">
                        <img data-carousel-item src="{{ work.image ? asset(work.image.uploadDir ~ '/' ~ work.image.id ~ '.' ~ work.image.url) }}" alt="{{ work.image ? work.image.alt }}"/>
                    </article>
                {% endfor %}
            </div>

            {% if needPager %}
                <button class="btn btn-default btn-lg btn-block" data-btn-refresh-feed style="margin-bottom: 100px; margin-top: 100px">More</button>
            {% endif %}
        </div>

    </section>

{% endblock %}
