<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Clarisse de Vaublanc | Artiste peintre
        {% endblock %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/daipublic/js/node_modules/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/daipublic/css/animate.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/daipublic/css/style.css') }}" type="text/css" media="all" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="title" content="Clarisse de Vaublanc | Artiste peintre" />
    <meta name="desciption" content="Née le 24 septembre 1962 dans une petite ville de Saone et Loire , Découvre à 12 ans la magie des couleurs primaires au collège Arrivée à Paris à 20 ans suit des cours du soir à la faculté des Arts plastiques Puis oublie le dessin et la peinture jusqu’en l’an 2000 Depuis reprend assidument des cours de peinture à l’huile Expose rarement et propose à votre écran ces quelques tableaux ,accepte avec joie vos commentaires">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
    </style>
</head>
<body>

    <div class="site">

        <header class="header">
            <div class="container-fluid">
                <a href="#" class="header__logo" data-logo>
                    <div class="header__logo__title">Clarisse de Vaublanc </div>
                    <div class="header__logo__subtitle">Artiste peintre</div>
                </a>
                <nav class="nav">
                    <div class="nav__left">
                        <a href="#" class="link">Gallerie</a>
                        <a href="#" class="link">Biographie</a>
                        <a href="#" class="link hidden-sm hidden-lg hidden-md">Contact</a>
                    </div>
                    <div class="nav__right hidden-xs">
                        <a href="#" class="link">Contact</a>
                    </div>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </div>



    <footer class="footer">
        &copy; All right Reserved 2016. Copyright Clarisse de Vaublanc
    </footer>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/daipublic/js/bundle.js') }}"></script>
    {% endblock %}

</body>
</html>
