<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Dai Gondo | Graphic Designer
        {% endblock %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/daipublic/js/node_modules/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/daipublic/css/animate.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/daipublic/css/style.css') }}" type="text/css" media="all" />
    {% endblock %} 
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="title" content="Dai Gondo | Freelance Graphic Designer based in Paris" />
    <meta name="desciption" content="Dai Gondo is an young independent french/japanese artist, art director and graphic designer and based in Paris.">

    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: Futura, 'Nunito', sans-serif;
        }
    </style>
</head>
<body>

    <div class="site">

        <header class="header">
            <div class="container-fluid">
                <a href="#" class="header__logo" data-logo>
                    <div class="header__logo__title">Clarisse de Vaublanc </div>
                    <div class="header__logo__subtitle">Artiste peintre</div>
                </a>
                <nav class="nav">
                    <div class="nav__left">
                        <a href="#" class="link">Gallerie</a>
                        <a href="#" class="link">Biographie</a>
                        <a href="#" class="link hidden-sm hidden-lg hidden-md">Contact</a>
                    </div>
                    <div class="nav__right hidden-xs">
                        <a href="#" class="link">Contact</a>
                    </div>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </div>



    <footer class="footer">
        &copy; All right Reserved 2016. Copyright Clarisse de Vaublanc
    </footer>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/daipublic/js/bundle.js') }}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/daipublic/js/viewport.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.introduction__picture, .introdcution__paragraph__animate, .introdcution__title__animate').addClass("hid").viewportChecker({
                    classToAdd: 'vis animated fadeInUp',
                    offset: 50
                });
            });
        </script>
    {% endblock %}

</body>
</html>