<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Dai Gondo
        {% endblock %}

    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/daiportfolio/js/node_modules/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/daiportfolio/css/animate.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/daiportfolio/css/style.css') }}" type="text/css" media="all" />
    {% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: Futura, 'Nunito', sans-serif;
        }
    </style>
</head>
<body>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path ('dai_portfolio_home') }}">
                        <h1>Admin</h1>
                    </a>
                </div>
                <div class="col-md-9 text-right">
                    <a href="{{ path ('dai_portfolio_add') }}" class="btn btn-default">Add a Work</a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>

    {% block javascripts %}
    {% endblock %}

</body>
</html>