{% extends 'DaiPortfolioBundle::layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="col-md-6 col-md-offset-2">
            <div class="page-header">
                <h2>Nouvelle peinture</h2>
            </div>

            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.title, "Titre", {'label_attr': {'class': 'control-label'}}) }}
                    <div class="text-danger">{{ form_errors(form.title) }}</div>
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.description, "Description", {'label_attr': {'class': 'control-label'}}) }}
                    <div class="text-danger">{{ form_errors(form.description) }}</div>
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="flex">
                    <div class="form-group">
                        {{ form_label(form.width, "Largeur (cm)", {'label_attr': {'class': 'control-label'}}) }}
                        <div class="text-danger">{{ form_errors(form.width) }}</div>
                        {{ form_widget(form.width, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.height, "Hauteur (cm)", {'label_attr': {'class': 'control-label'}}) }}
                        <div class="text-danger">{{ form_errors(form.height) }}</div>
                        {{ form_widget(form.height, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>


                <div class="form-group">
                    {{ form_label(form.position, "Position", {'label_attr': {'class': 'control-label'}}) }}
                    <div class="text-danger">{{ form_errors(form.position) }}</div>
                    {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.category, "Catégorie", {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_errors(form.category) }}
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.date, "Date", {'label_attr': {'class': 'control-label'}}) }}
                    <div class="text-danger">{{ form_errors(form.date) }}</div>
                    {{ form_widget(form.date) }}
                </div>

                <div class="form-group">
                    <div class="text-danger">{{ form_errors(form.image) }}</div>
                    {{ form_widget(form.image) }}
                </div>


                <div class="form-group">
                    <div class="text-danger">{{ form_errors(form.published) }}</div>
                    <label>
                        {{ form_widget(form.published) }} {{ form_label(form.published, "Publié") }}
                    </label>
                </div>

                <div class="form-group">
                    <div class="text-danger">{{ form_errors(form.available) }}</div>
                    <label>
                        {{ form_widget(form.available) }} {{ form_label(form.available, "Disponible") }}
                    </label>
                </div>

                {{ form_rest(form) }}

                <div class="form-group overflow">
                    <input type="submit" class="btn btn-primary pull-right" value="Sauvegarder"/>
                </div>


            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
