{% extends 'DaiPortfolioBundle::layout.html.twig' %}

{% block content %}


    <div class="page-header">
        <h2>Peintures</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Titre</th>
                <th>Aperçu</th>
                <th>Catégorie</th>
                <th>Publié</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for work in works %}
                <tr>
                    <td><span class="label label-default">{{ work.position }}</span></td>
                    <td>{{ work.title }}</td>
                    <td>
                        <img
                          src="{{ work.image ? asset(work.image.uploadDir ~ '/' ~ work.image.id ~ '.' ~ work.image.url) }}"
                          alt="{{ work.image ? work.image.alt }}"
                          style="width: 50px; height: 50px;"
                          class="img-circle img-thumbnail"
                        />
                    </td>

                    <td>
                        {{ work.category ? work.category.name }}
                    </td>
                    <td>{{ work.published ? '<span class="label label-success">oui</span>' : '<span class="label label-warning">non</span>' }}</td>
                    <td>{{ work.date|date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('dai_work_edit', {'id': work.id}) }}" class="btn btn-xs btn-default">Modifier</a>
                        <a href="{{ path('dai_work_delete', {'id': work.id}) }}" class="btn btn-xs btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('dai_work_index', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
